<div>

<!-- ---------------------------------------------------------------Title bar------------------------------------------------------- -->


<div class="row">
  <div class="col-sm-4"><a href="#"><img style="height:150px; width:330px;" src="../app/app-images/HomePageImages/foodimg.jpg" /></a></div>
  <div class="col-sm-4"><a href="#"><img style="height:150px; width:330px;" src="../app/app-images/HomePageImages/Travel.jpg" /></a></div>
  <div class="col-sm-4"><a href="#"><img style="height:150px; width:330px;" src="../app/app-images/HomePageImages/nature-18781373.jpg" /></a></div>
</div>
<div class="row">
  <div class="col-sm-4"><a href="#"><img style="height:150px; width:330px;" src="../app/app-images/HomePageImages/fettshrimp.jpg" /></a></div>
  <div class="col-sm-4"><a href="#"><img style="height:150px; width:330px;" src="../app/app-images/HomePageImages/famous-buildings-world-travel-wallpaper.jpg" /></a></div>
  <div class="col-sm-4"><a href="#"><img style="height:150px; width:330px;" src="../app/app-images/HomePageImages/6803722-nature-wallpapers-hd.jpg" /></a></div>
</div>

<br>
<hr>
<br>

<div class="row">
  <div class="col-sm-4"><a href="#"><img style="height:150px; width:330px;" src="../app/app-images/HomePageImages/ReligiousTitle.gif" /></div>
  <div class="col-sm-4"><a href="#"><img style="height:150px; width:330px;" src="../app/app-images/HomePageImages/29202767-Stamp-with-word-professional-inside-vector-illustration-Stock-Vector.jpg" /></div>
  <div class="col-sm-4"><a href="#"><img style="height:150px; width:330px;" src="../app/app-images/HomePageImages/635980679147435890-488367249_FashionHeader.png" /></div>
</div>
<div class="row">
  <div class="col-sm-4"><a href="#"><img style="height:150px; width:330px;" src="../app/app-images/HomePageImages/3a957da87d911dcf86c2d0f8b40747c9.jpg" /></div>
  <div class="col-sm-4"><a href="#"><img style="height:150px; width:330px;" src="../app/app-images/HomePageImages/images.jpg" /></div>
  <div class="col-sm-4"><a href="#"><img style="height:150px; width:330px;" src="../app/app-images/HomePageImages/FFQoTeK.jpg" /></div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm-12"><img src="../app/app-images/HomePageImages/12bf1bfb9c331ad8af62994695e0202f9f459e6383aff4837416b36b.jpg" /></div>
</div>


 
</div>


