@import url('http:fonts.googleapis.com/css?family=Open+Sans:300');
.testRight {
  background-color: black;
  margin-top: -20px;
  height: 1600px;
  width: 300px;
  float: right;
}
 #email1 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#password1 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Set a style for all buttons */
#signin {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

.modal-content-login {
    background-color: #fefefe;
    margin: 0% auto 18% auto; /* 5% from the top, 15% from the bottom and centered */
    margin-left:32%;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}
.modal-content-register {
    background-color: #fefefe;
    margin: 0% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    margin-left:25%;
    border: 1px solid #888;
    width: 77%; /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}



.testRight h1 {
  font-size: 25px;
  color: #E45456;
  text-align: center;
}
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
#Registration
{
    height:70%;
    width:70%;
}
.testLeft {
  background-color: black;
  height: 1600px;
  width: 200px;
  float: left;
}
.class1 {
  background-color: white;
}
.class2 {
  height: 200px;
  width: 500px;
}
h3 {
  font-family: 'Monotype Corsiva';
  font-style: italic;
  font-weight: 800;
}
h4 {
  font-family: 'Monotype Corsiva';
  font-style: italic;
  font-weight: 800;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 450px;
}
/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: white;
  height: 100%;
}
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}
/* ------------------- photo gallaery ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallery {
  width: 220px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}
.gallery > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0);
  /* hack */
}
.gallery > div:hover {
  z-index: 1;
}
.gallery > div:hover > img {
  transform: scale(1.7, 1.7);
  transition: .3s transform;
}
.cf:before,
.cf:after {
  display: table;
  content: "";
  line-height: 0;
}
.cf:after {
  clear: both;
}
